/*Classes*/
.dv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cx {
    border: 10px solid white;
}

.tit {
    width: 450px;
}

.tble {
    border: 3px solid white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.9vh;
    display: flex;
    justify-content: center;
}

.pad {
    width: 420px;
    height: 70px;
    padding: 10px;
    border: 5px solid white;
    margin: 0;
}

.pad2 {
    width: 420px;
    height: 70px;
    padding: 10px;
    border: 5px solid white;
    margin: 0;
}

.meio {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
.hmeio{
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Id*/
#titp{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Global*/
p {
    font-size: 1.75vh;
    font-family: Georgia, Times, serif;
}

th {
    border: 1px solid black;
}

td {
    justify-content: center;
    border: 1px solid white;
}